@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css");
ul {
  margin: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  padding-left: 0;
}

address {
  font-style: normal;
}

@font-face {
  font-family: GraphikL;
  src: url(../../fonts/GraphikLight.woff);
}
@font-face {
  font-family: GraphikR;
  src: url(../../fonts/GraphikRegular.woff);
}
@font-face {
  font-family: Graphik;
  src: url(../..fonts/GraphikMedium.woff);
}
body {
  color: rgb(255, 255, 255);
  background-color: rgb(24, 24, 24);
}

.container {
  width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

button {
  padding: 10px 25px;
  border: 1px solid rgb(255, 255, 255);
  background: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
button:hover {
  background-color: rgb(68, 82, 254);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(68, 82, 254);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.header .header-wrap .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-wrap .header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.header .header-wrap .header-nav-list .nav-list-item {
  list-style: none;
}
.header .header-wrap .header-nav-list .nav-list-item .nav-list-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: GraphikR;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: center;
}
.header .header-wrap .header-nav-list .nav-list-item .nav-list-link:hover {
  color: rgb(68, 82, 254);
}
.header .header-wrap .header-nav .header-nav-button {
  margin-left: 173px;
}

.section-hero {
  margin: 35px 0 100px 0;
}
.section-hero-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section-hero-background-wrap {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgb(14, 14, 14)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(14, 14, 14));
  width: 100%;
  height: 100%;
}
.section-hero-title {
  font-size: 80px;
  font-weight: 500;
  line-height: 88px;
  letter-spacing: 0.2px;
  text-align: center;
  max-width: 709px;
}
.section-hero-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-top: 85px;
}
.section-hero-list-item-button {
  width: 178px;
  height: 65px;
}
.section-hero-background {
  width: 1552.02px;
  height: 841px;
}
.section-hero-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;
  max-width: 582px;
  margin-top: 27px;
}

.section-features {
  margin-bottom: 100px;
  padding: 62px;
}
.section-features-title {
  font-family: GraphikL;
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.2px;
}
.section-features-description {
  font-family: GraphikL;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;
}
.section-features-description-wrap {
  max-width: 602px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 27px;
  margin-bottom: 80px;
}
.section-features-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 27px;
}
.section-features-wrap-image {
  width: 752px;
  height: 759px;
}
.section-features-wrap-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 309px;
  height: 651px;
}
.section-features-wrap-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section-features-wrap-list-item-title {
  font-family: GraphikR;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
  text-align: left;
  margin-left: 13px;
  max-width: 153px;
}
.section-features-wrap-list-item-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
  max-width: 249px;
  margin-top: 20px;
}
.section-features-wrap-list-item .section-features-wrap-list-item-scg {
  fill: rgb(2, 228, 192);
}

.section-contents {
  padding: 60px;
  margin-bottom: 150px;
}
.section-contents-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  margin-bottom: 44px;
}
.section-contents-wrap-title {
  font-family: Graphikl;
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.2px;
  text-align: left;
}
.section-contents-wrap-description {
  font-family: Graphikl;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;
  max-width: 571px;
}
.section-contents-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-contents-list-item {
  width: 476px;
  height: 624px;
  border-radius: 10px;
  padding: 50px 48px 40px 48px;
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-contents-list-item-button {
  width: 157px;
  height: 52px;
  color: rgb(255, 255, 255);
  background-color: rgb(68, 82, 254);
  font-family: GraphikR;
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.section-contents-list-item-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(24, 24, 24);
}
.section-contents-list-item-img {
  border-radius: 14px;
}
.section-contents-list-item-img-first {
  margin-top: 57px;
}
.section-contents-list-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.section-contents-list-item-wrap-title {
  font-family: GraphikR;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.1px;
  text-align: center;
  color: rgb(24, 24, 24);
}
.section-contents-list-item-wrap-description {
  font-family: GraphikL;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  color: rgb(24, 24, 24);
  max-width: 268px;
}

.section-gallery {
  padding: 50px;
  margin-bottom: 100px;
}
.section-gallery-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 44px;
  gap: 10px;
}
.section-gallery-wrap-title {
  font-family: GraphikL;
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.2px;
  text-align: left;
}
.section-gallery-wrap-description {
  font-family: GraphikL;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;
  max-width: 591px;
}
.section-gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 44px;
}
.section-gallery-list-item-img {
  border-radius: 10px;
}
.section-gallery-button {
  width: 159px;
  height: 52px;
  display: block;
  margin: 0 auto;
}

.section-partners {
  padding: 60px;
}
.section-partners-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 44px;
  gap: 10px;
}
.section-partners-wrap-title {
  font-family: GraphikL;
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.2px;
  text-align: left;
}
.section-partners-wrap-description {
  font-family: GraphikL;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;
  max-width: 591px;
}
.section-partners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 74px;
}
.section-partners-list-item-link-svg {
  fill: currentColor;
}
.section-partners-button {
  width: 176px;
  height: 52px;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}

.section-testimonials {
  padding: 60px;
  margin-bottom: 100px;
}
.section-testimonials-title {
  font-family: GraphikL;
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 60px;
}
.section-testimonials-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
  width: 883px;
  height: 652px;
  margin: 0 auto;
}
.section-testimonials-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 430px;
  height: 652px;
}
.section-testimonials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.section-testimonials-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: left;
}
.section-testimonials-item {
  width: 430px;
  height: 328px;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid rgb(222, 222, 222);
  margin-top: 30px;
}
.section-testimonials-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
  width: 162px;
  height: 50px;
  margin-bottom: 31px;
}
.section-testimonials-img {
  width: 50px;
  height: 50px;
}
.section-testimonials-title-wrap {
  margin-left: 13px;
}
.section-testimonials-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.2px;
  width: 137px;
}
.section-testimonials-role {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.section-action-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(52, 52, 52);
  border-radius: 33px;
  gap: 88px;
}
.section-action-wrap-description {
  margin: 0 auto;
  margin: 78px 0px 61px 61px;
}
.section-action-wrap-description-title {
  font-family: GraphikL;
  font-size: 52px;
  font-weight: 400;
  line-height: 62px;
  letter-spacing: 0.2px;
  text-align: left;
  max-width: 479px;
  margin-bottom: 37px;
}
.section-action-wrap-description-button {
  width: 232px;
  height: 52px;
  background-color: rgb(68, 82, 254);
  color: rgb(255, 255, 255);
}

.footer {
  margin-top: 100px;
  margin-bottom: 107px;
}
.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-wrap-list {
  width: 513px;
  height: 223px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-wrap-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}
.footer-wrap-list-item-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: left;
  margin-bottom: 40px;
}
.footer-wrap-contacts {
  margin-left: 200px;
}
.footer-wrap-contacts-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.footer-wrap-contacts-adress-list {
  padding: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.footer-wrap-contacts-adress-list-item-link-svg {
  fill: rgb(255, 255, 255);
}/*# sourceMappingURL=main.css.map */