.footer {
    margin-top: 100px;
    margin-bottom: 107px;

    &-wrap {

        display: flex;
        justify-content: center;

        &-list {
            width: 513px;
            height: 223px;
            display: flex;
            justify-content: space-between;

            &-item {
                display: flex;
                flex-direction: column;
                gap: 28px;

                &-link {
                    &:hover {
                        transition: 0.5s;
                        color: $color-blue;
                    }
                }

                &-title {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0.20000000298023224px;
                    text-align: left;
                    margin-bottom: 40px;
                }

            }
        }

        &-contacts {
            margin-left: 200px;

            &-adress {
                display: flex;
                flex-direction: column;
                gap: 20px;

                &-list {
                    padding: 20px 0 20px 0;
                    display: flex;
                    gap: 24px;

                    &-item-link-svg {
                        fill: $color-white;

                        &:hover {
                            transition: 0.5s;
                            fill: $color-blue;
                        }
                    }
                }
            }
        }
    }
}