.section-testimonials {
    padding: 60px;
    margin-bottom: 100px;

    &-title {
        font-family: GraphikL;
        font-size: 52px;
        font-weight: 400;
        line-height: 62px;
        letter-spacing: 0.2px;
        text-align: center;
        margin-bottom: 60px;
    }

    &-wrap {
        display: flex;
        gap: 23px;
        width: 883px;
        height: 652px;
        margin: 0 auto;
    }

    &-column {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 430px;
        height: 652px;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
    }

    &-description {

        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.2px;
        text-align: left;

    }

    &-item {
        width: 430px;
        height: 328px;
        padding: 40px;
        border-radius: 10px;
        border: 1px solid rgba(222, 222, 222, 1);
        margin-top: 30px;
    }

    &-item-wrap {
        display: flex;
        gap: 13px;
        width: 162px;
        height: 50px;
        margin-bottom: 31px;
    }

    &-img {
        width: 50px;
        height: 50px;
    }

    &-title-wrap {
        margin-left: 13px;
    }

    &-name {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.2px;
        width: 137px;

    }

    &-role {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.1px;
    }
}