@font-face {
    font-family: GraphikL;
    src: url(../../fonts/GraphikLight.woff);
}

@font-face {
    font-family: GraphikR;
    src: url(../../fonts/GraphikRegular.woff);
}

@font-face {
    font-family: Graphik;
    src: url(../..fonts/GraphikMedium.woff);
}
body{
    color: $color-white;
    background-color: $color-black;
}
